//common
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
input,
button {
  border: none;
  outline: none;
}
::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.wrap {
  position: relative;
  margin: auto;
  width: 550px;
  box-shadow: 0 2px 4px 0 rgba($color: #000, $alpha: 0.2),
    0 25px 50px 0 rgba($color: #000, $alpha: 0.1);
}

//
.on {
  visibility: visible;
  opacity: 1;
  height: auto;
  border-bottom: 1px solid #ededed;
  &:last-child {
    border-bottom: none;
  }
}
.hide {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.title {
  margin: 0;
  width: 100%;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}
.todoList {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
  box-shadow: inset 0 -2px 1px rgba($color: #000, $alpha: 0.03);
  border-bottom: 1px solid #e6e6e6;
  &::before {
    content: ">";
    display: block;
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px;
  }
}
.close {
  position: absolute;
  top: 18px;
  left: -6px;
  font-size: 22px;
  color: #e6e6e6;
  padding: 0 25px 0 25px;
  transform: rotate(90deg);
}
.close.active {
  color: #737373;
}

//filter list
.filterList {
  position: relative;
  margin: 0;
  list-style: none;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba($color: #000, $alpha: 0.2), 0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgba($color: #000, $alpha: 0.2), 0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgba($color: #000, $alpha: 0.2);
  }
}

.filterList li {
  position: relative;
  display: inline;
  cursor: pointer;
  text-align: center;
  z-index: 100;
}

.filterList li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #777;
}

.filterList li a.active {
  border-color: rgba(175, 47, 47, 0.2);
}

.filterList li.length {
  position: absolute;
  left: 15px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #777;
  cursor: default;
}

.filterList li.completed {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 15px;
}
.filterList li.completed a {
  &:hover {
    text-decoration: underline;
  }
}

.filterList li.completed a.active {
  border-color: none;
}

//list
.inputWrap {
  position: relative;
}

.checkbox {
  position: absolute;
  left: 0;
  top: 20px;
  width: 40px;
  height: 40px;
  opacity: 0;
  text-align: center;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.on label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  font-size: 24px;
  color: #4d4d4d;
  transition: color 0.4s;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

label.active {
  color: #d9d9d9;
  text-decoration: line-through;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.delete {
  position: absolute;
  right: 30px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  margin: auto 0;
  font-size: 20px;
  font-weight: bold;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

li:hover .delete {
  opacity: 1;
  visibility: visible;
}
